/src/.vs/*
/src/.vscode/*
!/src/.vscode/settings.json
!/src/.vscode/tasks.json
!/src/.vscode/launch.json
!/src/.vscode/extensions.json

##
## Umbraco CMS
##

appsettings-schema.json
appsettings-schema.*.json


.nuke/temp/b/*
.nuke/temp/*
artifacts/*

/src/build/obj/*
/src/build/bin/*
/src/Web/umbraco/Data/TEMP/
/src/Web/umbraco/Data/CreatedPackages/
/src/Web/umbraco/Data/TEMP/*
#/src/Web/umbraco/Data/*.sqlite.db
/src/Web/umbraco/Data/*.sqlite.db-shm
/src/Web/umbraco/Data/*.sqlite.db-wal
/src/Web/umbraco/Logs/*
#/src/Web/wwwroot/media/*
/src/Web/obj/*
/src/Web/bin/*
